.body-background {
    background-image: url("../images/grandCentral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .85;
};

.cards {
    padding: 20px;
    margin: 10px; 
    color: black;
    background-color: antiquewhite;
    opacity: .5;
    border-color: black
};

.submitButton {
    color: #A0522D;
}